@using SFDEnerji.Models.ViewModels;
@model HomeVm
@{
    ViewData["Title"] = "Home Page";
    //ViewData["slogan1"]=Model.Settings.Slogan1;
//ViewData["slogan2"]=Model.Settings.Slogan2:
}
<!-- SERVICE SECTION -->
<section class="services_provide main-box center-style">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="services_logo">
                    <figure class="mb-4"><img src="~/assets/images/services_provide_logo.png" alt="" data-aos="fade-down"></figure>
                </div>
                <h6 class="mb-0" data-aos="fade-left">SERVICES WE PROVIDE</h6>
                <h2 data-aos="fade-right">Building & Maintaining The Energy Throughout The World</h2>
            </div>
        </div>
        <div class="row position-relative" data-aos="fade-up">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_padding">
                <div class="services_provider_content">
                    <div class="upper_portion">
                        <figure class="mb-0 position-relative"><img src="~/assets/images/solar_power_system.jpg" alt=""></figure>
                    </div>
                    <div class="lower_portion_wrapper">
                        <div class="lower_portion">
                            <h4>Solar Power System</h4>
                            <p>Quis nostrum exercitationem ullam coraoris suscirit.</p>
                            <div class="learn_more_wrapper">
                                <a class="learn_btn_yellow text-decoration-none" href="services.html">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_padding">
                <div class="services_provider_content">
                    <div class="upper_portion">
                        <figure class="mb-0 position-relative"><img src="~/assets/images/wind_power_system.jpg" alt=""></figure>
                    </div>
                    <div class="lower_portion_wrapper">
                        <div class="lower_portion">
                            <h4>Wind Power System</h4>
                            <p>Debitis aut rerum necessitar saereu eveniet voluta.</p>
                            <div class="learn_more_wrapper">
                                <a class="learn_btn_yellow text-decoration-none" href="services.html">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 service_padding">
                <div class="services_provider_content mb-0">
                    <div class="upper_portion">
                        <figure class="mb-0 position-relative"><img src="~/assets/images/residential_solar.jpg" alt=""></figure>
                    </div>
                    <div class="lower_portion_wrapper_residentialsolar">
                        <div class="lower_portion">
                            <h4 class="resi_solar">Residential Solar</h4>
                            <p>Maiores alias conseruatuo aut perferendis eoloribus.</p>
                            <div class="learn_more_wrapper_resi_solar">
                                <a class="learn_btn_yellow text-decoration-none" href="services.html">LEARN MORE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <figure class="shape mb-0 position-absolute"><img src="~/assets/images/services_provide_icons.png" alt="" data-aos="flip-up"></figure>
        </div>
    </div>
</section>

<!-- PROJECTS SECTION -->
<section class="recent_projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h6 class="center-style">RECENT PROJECTS</h6>
                <h2 class="center-style">Latest Projects, Solutions And Energy Supplies</h2>
            </div>
        </div>
        <div class="row position-relative" data-aos="fade-up">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="images_content_wrapper">
                    <figure class="mb-0"><img src="~/assets/images/solar_system_projects.jpg" alt=""></figure>
                    <div class="projects_content_wrapper">
                        <h4 class="text-white mb-2">Solar System</h4>
                        <p class="project_paragraph mb-0">Duis aute irure dolor in rearehenderit.</p>
                    </div>
                    <div class="project_icon_wrapper">
                        <a href="projects.html"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="images_content_wrapper">
                    <figure class="mb-0"><img src="~/assets/images/hybrid_energy_projects.jpg" alt=""></figure>
                    <div class="projects_content_wrapper">
                        <h4 class="text-white mb-2">Hybrid Energy</h4>
                        <p class="project_paragraph mb-0">Rui officia deserunt moi.</p>
                    </div>
                    <div class="project_icon_wrapper_hybrid">
                        <a href="projects.html"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <figure class="shape mb-0 position-absolute"><img src="~/assets/images/projects_blueyellow_icon.png" alt="" data-aos="flip-down"></figure>
        </div>
        <div class="row"></div>
        <div class="row second_row_projects" data-aos="fade-up">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="images_content_wrapper">
                    <figure class="mb-0"><img src="~/assets/images/titan_windimidal_projects.jpg" alt=""></figure>
                    <div class="projects_content_wrapper">
                        <h4 class="text-white mb-2">Titan Windimidal</h4>
                        <p class="project_paragraph mb-0">Sui officia deserunt moi.</p>
                    </div>
                    <div class="project_icon_wrapper_hybrid">
                        <a href="projects.html"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="images_content_wrapper">
                    <figure class="mb-0"><img src="~/assets/images/hydro_plant_projects.jpg" alt=""></figure>
                    <div class="projects_content_wrapper">
                        <h4 class="text-white mb-2">Hydro Plant</h4>
                        <p class="project_paragraph mb-0">Tui officia deserunt moi.</p>
                    </div>
                    <div class="project_icon_wrapper_hybrid">
                        <a href="projects.html"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="images_content_wrapper">
                    <figure class="mb-0"><img src="~/assets/images/parci_eolico.jpg" alt=""></figure>
                    <div class="projects_content_wrapper">
                        <h4 class="text-white mb-2">Parci Eolico</h4>
                        <p class="project_paragraph mb-0">Mui officia deserunt moi.</p>
                    </div>
                    <div class="project_icon_wrapper_hybrid">
                        <a href="projects.html"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn_wrapper_projects">
            <a class="text-decoration-none viewall_btn" href="projects.html">VIEW ALL</a>
        </div>
    </div>
</section>

<!-- STATS SECTION -->
<section class="company_statistics float-left w-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="company_stats_content">
                    <h6 class="mb-1">COMPANY STATISTICS</h6>
                    <h2 class="mb-2 text-left">
                        Energize Society With
                        Sustainable & Reliable
                        Energy Systems
                    </h2>
                    <p class="company_stats_paragraph mb-2">
                        Quis aute irure dolor in reprehenderit in voluptate velit ese ciu
                        nulla pariatur excepteur sint occaecat curidatat non proi dent
                        in culra rui iaure officia.
                    </p>
                    <p class="company_stats_paragraph mb-4">
                        Reque porro quisquam est, qui dolorem ipsum quia dolor sit ae
                        consectetur, adipisci velit, sed quia non numquam eius modior
                        incidunt nostrum exercita.
                    </p>
                    <div class="company_btn_wrapper">
                        <a class="text-decoration-none learn_btn_company_stats" href="aboutus.html">LEARN MORE</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-aos="fade-up">
                <div class="row position-relative">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
                        <div class="company_box_wrapper center-style">
                            <div class="box box1 mb-0 mr-0">
                                <figure><img src="~/assets/images/company_project_completed.png" alt=""></figure>
                                <p class="companystatsnumbers_content">6154</p>
                                <p class="companybox_content mb-0">Projects Completed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-4">
                        <div class="company_box_wrapper center-style">
                            <div class="box mb-0 mr-0">
                                <figure><img src="~/assets/images/company_happycustomer.png" alt=""></figure>
                                <p class="companystatsnumbers_content">2584</p>
                                <p class="companybox_content mb-0">Happy Customers</p>
                            </div>
                        </div>
                    </div>
                    <figure class="shape mb-0 position-absolute"><img src="~/assets/images/company_blue_yellow_icon.png" alt="" data-aos="flip-up"></figure>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="company_box_wrapper center-style">
                            <div class="box box2 mr-0 mb-0">
                                <figure><img src="~/assets/images/company_award.png" alt="" class="company_box_thirdimg"></figure>
                                <p class="companystatsnumbers_content">3528</p>
                                <p class="companybox_content mb-0">Awards Milestones</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="company_box_wrapper center-style">
                            <div class="box box3 mr-0 mb-0">
                                <figure><img src="~/assets/images/company_worldwide.png" alt="" class="company_box_forthimg"></figure>
                                <p class="companystatsnumbers_content">4286</p>
                                <p class="companybox_content mb-0">Worldwide Offices</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- MESSAGE SECTION -->
<section class="send_message center-style float-left w-100" data-aos="fade-up">
    <div class="container">
        <div class="send_message_content">
            <h2 class="text-white text-center mb-0">Bize Ulaşın !</h2>
            <h6 class="text-white">Her türlü talep ve öneriniz için bize yazabilirsiniz !</h6>

            <form id="contactpage" method="POST" action="/Admin/ContactForm/Add">
                <div class="form-row pb-3">
                    <div class="col">
                        <input asp-for="ContactForm.Name" class="form-control upper_layer_name" placeholder="Adınız:">
                    </div>
                    <div class="col">
                        <input type="email" asp-for="ContactForm.Email" class="form-control upper_layer" placeholder="Email:">
                    </div>
                    <div class="col">
                        <input type="tel" asp-for="ContactForm.Phone" class="form-control upper_layer" placeholder="Telefon Numaranız:">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <input asp-for="ContactForm.Message" class="form-control lower_message" placeholder="Mesajınız:">
                    </div>
                </div>

                <div class="form_button_wrapper text-center">
                    <button type="submit" name="btnsubmit" id="submitbutton" class="button_style">Gönder</button>
                </div>
            </form>
        </div>
    </div>
</section>
@section Scripts{
    @if(TempData["success"]!=null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Başarılı',
                text: '@TempData["success"]',
                showConfirmButton: false,
                timer: 5000
            })
        </script>
    }
}
